body {
  font-family: "Avant Garde";
  padding: 0;
  margin: 0;
  font-size: 20px;
}

hr {
  width: 100%;
  color: #A9A9A9;
  background-color: #A9A9A9;
  margin: 50px 0;
}

p {
  line-height: 1.6em;
}

a {
  color: #20B2AA;
}

h1,
h2 {
  padding: 0;
  margin: 0;
}

h1 {
  font-weight: normal;
}

h2 {
  font-size: 60px;
  text-align: center;
}

h3 {
  font-size: 1.8em;
  margin: 30px 0;
}

img {
  max-width: 100%;
  height: auto;
}

.topnav {
	text-align:center;
    background: rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.topnav a {
	display:inline-block;
	color: #f2f2f2;
	text-align: center;
	padding: 20px 16px;
	text-decoration: none;
	font-size: 20px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

div.container,
div.small-container {
  margin: 0 auto;
  padding: 0 20px;
}

div.container {
  max-width: 940px;
}

div.small-container {
  max-width: 700px;
}

header {
	position: fixed;
	color: #ffffff;
	background-image: url('/images/gr.jpg');
	width: 100%;
}
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: #ffffff;
  background: #000;
}

section.hero {
  color: #fff;
  background-image: url('/images/bg.jpg');
  opacity: 0.9;
  filter: alpha(opacity=90);
  background-size: cover;
  min-height: 330px;
  max-height: auto;
}

section.hero1 {
  background-image: url('/images/bg1.jpg');
  background-size: cover;
  min-height: 650px;
  max-height: auto;
}

section.heroW {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.05),rgba(0, 0, 0, 0.3)), url('/images/bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
 
.gradient {
    background: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
    height: 200px;
    margin-top: -200px;
    position: relative;
}

section.hero2 {
  color: #fff;
  background-image: url('/images/me.jpg');
  background-size: cover;
  min-height: 450px;
  max-height: auto;
}

section.hero3 {
  color: #fff;
  background-image: url('/images/dev.jpg');
  background-size: cover;
  min-height: 450px;
  max-height: auto;
}

section.hero4 {
  color: #fff;
  background-image: url('/images/bg2.jpg');
  background-size: cover;
  min-height: 450px;
  max-height: auto;
}

section.hero5 {
  color: #fff;
  background-image: url('/images/a.jpg');
  background-size: cover;
  min-height: 450px;
  max-height: auto;
}

p.post-hero {
  width: 80%;
  margin: 0 auto;
}

header a,
section.hero a,
footer a {
  text-decoration: none;
  color: #ffffff;
}

header,
footer {
  padding: 1px 0;
  background: rgba(0, 0, 0, 0.4);
}

nav.main-nav ul {
  padding: 0;
  list-style: none;
  width: fit-content;
  margin: auto;
}

nav.main-nav li,
nav.main-nav a {
  display: inline-block;
}

nav.main-nav li a {
  padding: 10px;
}

div.content {
  background: #fff;
}

section.hero {
  padding: 120px 0;
}

p.sub-text {
  font-size: 20px;
  text-align: center;
  line-height: 28px;
}

.center-text {
  text-align: center;
}

.columns:after {
  content: "";
  display: table;
  clear: both;
}

.spacing {
  padding: 50px 0;
}

.column {
  box-sizing: border-box;
  float: left;
}

.column.third {
  width: 33%;
  padding: 0 20px;
  text-align: center;
}

.column.half {
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
}

.blog-post {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.blog-post .date {
  float: right;
}