---
layout: default
title: O mne
hero: hero2
---

    <div class="content">
      <div class="container">
			{% for member in site.data.about %} {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %} {% if thecycle == 'odd' %}

			<div class="columns spacing">
				<div class="column half">
					<img src="{{ member.obrazok }}" width="430">
				</div>
				<div class="column half">
					<h3>{{ member.nazov }} </h3>
					<p> {{ member.text }} </p>
				</div>
			</div>

			{% else %}

			<div class="columns spacing">
				<div class="column half">
					<h3>{{ member.nazov }}</h3>
					<p> {{ member.text }} </p>
				</div>
				<div class="column half">
					<img src="{{ member.obrazok }}" width="430">
				</div>
			</div>

			{% endif %} {% endfor %}

		 <div class="columns spacing">
          <div class="column third">
            <img src="/images/climb3.jpg" alt="Boulder">
			<p></p>
			 <img src="/images/horses.jpg" alt="Boulder">
          </div>
          <div class="column third">
            <img src="/images/ferrata.jpg" alt="Boulder">
			<p></p>
			<img src="/images/climb1.jpg" alt="Boulder">
          </div>
		  <div class="column third">
			 <img src="/images/climb2.jpg" alt="Boulder">
			 <p></p>
			 <img src="/images/hook2.jpg" alt="Boulder">
          </div>
        </div>
      </div>
    </div>
	