---
layout: default
title: Blog
---

<div class="content">
    <section class="hero5">
    </section>
    <div class="container">
        <h3 class="spacing">Tu nájdete moje blogy :)</h3>
        <h4>Kategórie blogov:</h4>
        <div class="blog-posts">
            {% for category in site.categories %}
            <h5>{{ category[0] }}</h5>
            <ul>
                {% for post in category[1] %}
                <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
    </div>
</div>