---
layout: default
title: Blog
---

<div class="content">
    <section class="hero5">
    </section>
    <div class="container">
            {% for category in site.categories %}
            <h3>{{ category[0] }}</h3> {% for post in category[1] %}
            <div class="columns">
                <div class="column half">
                    <h5> <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> » {{ post.date | date: '%d.%m.%Y' }} </h5>
                    <p> {{ post.excerpt | truncate: 200 }} </p>
                </div>
                <div class="column half">
                    <img src="{{ post.image }}" width="300" height="300">
                </div>
            </div>
			<hr>
            {% endfor %} 
			{% endfor %}
    </div>
</div>