--- 
layout: default 
title: DevProfile
---

<div class="content">
    <section class="hero3">
    </section>
    <div class="container">
        <div class="columns spacing">
            <div class="column half">
                <h3>Programovacie jazyky</h3>
                <p> Jazyky, s ktorými som sa stretla počas štúdia:
                    <ul>
                        {% for member in site.data.lang %}
                        <li>{{ member.jazyk }} </li>

                        {% endfor %}
                    </ul>
                </p>
            </div>
            <div class="column half">
                <img src="/images/school.png" width="430" alt="Me">
            </div>
        </div>

        <div class="container">

            <h3>Prehľad zaujímavých projektov riešených počas štúdia</h3> {% for member in site.data.fav %}
            <h5> {{ member.predmet }} </h5>
            <p>{{ member.projekty }}.</p>

            {% endfor %}
        </div>
    </div>
</div>