<!doctype html>
<html lang="sk">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <div class="container">
        <nav class="main-nav">
          <ul>
            <li><a href="/home.html">Domov</a></li>
			<li><a href="/about.html">O mne</a></li>
			<li><a href="/dev.html">DevProfile</a></li>
			<li><a href="/wpub.html">WPUB</a></li>
            <li><a href="/blog.html">Blog</a></li>
          </ul>
        </nav>
        <h1>Erika Repašská</h1>
      </div>
    </header>
    <div class="content">
			{{ content }}
      </div>
	  <footer>
      <div class="container">
        <p class="center-text"><a href="http://ataksichodim.blogspot.com/">Erika | 2019</a></p>
      </div>
    </footer>
  </body>
</html>
