<!doctype html>
<html lang="sk">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
	<link rel="icon" type="image/png" sizes="192x192"  href="/res/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/res/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/res/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/res/favicon/favicon-16x16.png">
</head>
  <body>
  
  <div class="topnav">
		  <a href="/about.html">O mne</a>
		  <a href="/dev.html">DevProfile</a>
		  <a href="/wpub.html">WPUB</a>
		  <a href="/blog.html">Blog</a>
		</div>
  
<div class="container">
  <div class="blog-post spacing">
    <h4 class="spacing">{{ page.title }}<span class="date">Vytvorené: {{ page.date | date: '%d.%m.%Y' }}</span></h4>
	<h5>Tagy: {% for member in page.tags %} | {{ member }}{% endfor %} | </h5>
    <p>{{ content }}</p>
	<i>Autor: {{ page.author }}, odkaz na originál blog <a href="{{ page.link }}">TU</a>.</i>
  </div>
</div>
	  
	  <footer>
      <div class="container">
        <p class="center-text"><a href="http://ataksichodim.blogspot.com/">Erika Repašská | 2019</a></p>
      </div>
    </footer>
  </body>
</html>
